/* banner related styles */
/* .banner {
    width: 1320px;
    height: 600px;
    border: 16px;
    padding: 0%;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
/* heading related style */
/* .heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */ */

.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    padding: 117px 531px 383px 530px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}